#playing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 300px;
}

.left {
    display: flex;
    align-self: flex-start;
}

.middle {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.right {
    display: flex;
    align-self: flex-end;
}