#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
}

#header {
    top: 0;
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

@media(max-width: 600px) {
    #header {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav-bar {
        flex-direction: column;
    }
}