tr[class="read"] {
    background-image: linear-gradient(to right, #d4fc79, #96e6a1);
}

tr[class="to-read"] {
    background-image: linear-gradient(to right, #fddb92, #d1fdff);
}

tr[class="in-progress"] {
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

span {
    display: inline-block;
}

tr[class="to-read"] span[class="status"] {
    border: 2px solid orange;
    background-image: linear-gradient(to right, #ffe259, #ffa751);
}

tr[class="read"] span[class="status"] {
    border: 2px solid green;
    background-image: linear-gradient(to right, #b2ff59, #76ff03);
}

tr[class="in-progress"] span[class="status"] {
    border: 2px solid blue;
    background-image: linear-gradient(to right, #89f7fe, #66a6ff);
}

span[class="status"],
span[class^="rate"] {
    height: 30px;
    width: 100px;
    padding: 5px;
}

span[class^="rate"]>span {
    border: 1px solid #333;
    border-radius: 50%;
    margin: 2px;
    height: 12px;
    width: 12px;
    background-color: #eee;
}

span[class~="one"] span:first-child {
    background-image: linear-gradient(135deg, #facc15, #f97316);
}

span[class~="two"] span:nth-child(-n + 2) {
    background-image: linear-gradient(135deg, #facc15, #f97316);
}

span[class~="three"] span {
    background-image: linear-gradient(135deg, #facc15, #f97316);
}