#email {
    padding: 50px;
    margin-top: 50px;
    width: 500px;
    border: 2px;
    box-sizing: border-box;
}

#confidential,
#top-secret {
    display: inline-block;
    padding: 50px;
    margin-left: 10px;
    border: 2px solid #000;
    transform: rotate(0.8deg);
}

.blurred {
    filter: blur(3px);
}