#house {
    position: relative;
    width: 500px;
    height: 400px;
    background-color: #e0c097;
    border: 4px solid #333;
}

#house>div {
    position: absolute;
}

#roof {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #8b0000;
    border: 3px solid #999;
}

#chimney {
    top: -120px;
    left: 60px;
    width: 60px;
    height: 120px;
    background-color: #555;
    border: 3px solid #333;
    z-index: -1;
}

#window-1 {
    top: 140px;
    left: 80px;
    width: 80px;
    height: 80px;
    background-color: #add8e6;
    border: 3px solid #999;
}

#window-2 {
    top: 140px;
    right: 80px;
    width: 80px;
    height: 80px;
    background-color: #add8e6;
    border: 3px solid #999;
}

#door {
    bottom: 0;
    left: 210px;
    width: 80px;
    height: 120px;
    background-color: #654321;
    border: 3px solid #999;
}