:root {
    --color0: #f2f2f2;
    --color1: #cfe2ff;
    --color2: #9ec5fe;
    --color3: #6ea8fe;
    --color4: #3d8bfd;
    --color5: #0d6efd;
    --solid-border: 2px solid #333;
    --dashed-border: 2px dashed #333;
}

.available-0 {
    background-color: var(--color0);
}

.available-1 {
    background-color: var(--color1);
}

.available-2 {
    background-color: var(--color2);
}

.available-3 {
    background-color: var(--color3);
}

.available-4 {
    background-color: var(--color4);
}

.available-5 {
    background-color: var(--color5);
    color: white;
}

.sharp td {
    border-bottom: var(--solid-border);
}

.half td {
    border-bottom: var(--dashed-border);
}

#legend-gradient {
    height: 15px;
    width: 75%;
    background-image: linear-gradient(90deg,
            var(--color0) 16%,
            var(--color1) 16% 33%,
            var(--color2) 33% 49%,
            var(--color3) 49% 66%,
            var(--color4) 66% 83%,
            var(--color5) 83%);
}