body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space {
    height: 200px;
    width: 200px;
    position: relative;
}

.earth {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.orbit {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: orbit 5s linear infinite;
}

.moon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes orbit {
    0% {
        transform: rotate(0deg) translate(-50%, -50%);
    }

    100% {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}